<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<form name="f" method="post" action="/auth/register" class="login-form">
		<input name="username" type="text" id="typeEmailX" class="form-control form-control-lg" />
		<label class="form-label" for="typeEmailX">Username</label>

		<input name="password" type="password" id="typePasswordX" class="form-control form-control-lg" />
		<label class="form-label" for="typePasswordX">Password</label>

		<button type="submit">Login</button>
	</form>

</body>
</html>