<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<form action="/auth/register"  method="post">
		
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username"required><br>
        
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password"required><br>   
        
        <input type="submit" value="Зарегистрироваться">
    </form>

</body>
</html>