<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Chat Example</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

	<style>
		.my-message {
			background-color: lightblue;
			padding: 5px;
			margin: 5px;
			border-radius: 5px;
			clear: both;
		}

		.other-message {
			background-color: lightgreen;
			padding: 5px;
			margin: 5px;
			border-radius: 5px;
			float: left;
			clear: both;
		}
	</style>

</head>

<body>



	<div>
		<h2>Chat</h2>

		<div th:each="cassandraMessage : ${cassandraMessages}">
			<div class="message-container"
				th:classappend="${cassandraMessage.getSenderId() == currentUser ? 'my-message' : 'other-message'}">
				<p th:text="${cassandraMessage.getContent()}" class="message-content"
					th:data-id="${cassandraMessage.getId()}"></p>
			</div>
		</div>

		<div th:each="cachedMessage : ${cachedMessages}">
			<div class="message-container"
				th:classappend="${cachedMessage.getSenderId() == currentUser ? 'my-message' : 'other-message'}">
				<p th:text="${cachedMessage.getContent()}" class="message-content"
					th:data-id="${cachedMessage.getId()}"></p>
			</div>
		</div>


	</div>

	<div id="chatMessages"></div>
	<form id="messageForm">
		<input type="text" id="messageInput" th:data="${id}" th:dataSenderId="${currentUser}" th:dataRecipId="${id}"
			placeholder="Type your message..." />
		<button type="submit">Send</button>
	</form>




	<!-- Форма для редактирования сообщения -->
	<div id="editForm" style="display: none;">
		<form id="messageEditForm" action="/editMessage" method="post">
			<input type="hidden" name="messageId" id="editMessageId" value="">
			<input type="hidden" name="chatId" id="editChatId" value="">
			<input type="text" name="editedContent" id="editedContent" placeholder="Редактировать сообщение">
			<button type="submit">Сохранить изменения</button>
		</form>
	</div>

	<!-- Модальное окно -->
	<div id="myModal" class="modal" style="display: none;">
		<div class="modal-content">
			<span class="close">&times;</span>
			<p>Выберите действие:</p>
			<button id="deleteButton">Удалить</button>
			<button id="editButton">Редактировать</button>
		</div>
	</div>




	<script src="/js/messageScripts/messageContextMenuEdit.js"></script>
	<script src="/js/messageScripts/messageEditOrDelete.js"></script>
	<script src="/js/messageScripts/webSocket.js"></script>
	
	<script>

		function showMessage(message) {
			var messageClass = (message.senderId === currentUser ? "my-message" : "other-message");
			$("#chatMessages").append("<p class='" + messageClass + "'>" + message.content + "</p>");
		}

	</script>


</body>

</html>