<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Chat Example</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>

<body>
	
	
	
	<div>
		<h2>Chat</h2>
		
		<div th:each="message : ${messages}">
			
			<p th:text="${message.getContent()}"></p>
			
		</div>
		
		<div id="chatMessages"></div>
		<form id="messageForm">
			<input type="text" id="messageInput"  th:data="${id}" placeholder="Type your message..." />
			<button type="submit">Send</button>
		</form>
	</div>

	<script>
		var stompClient = null;
		var mess = document.getElementById('messageInput');
		var chatId = mess.getAttribute("data");

		function connectToChat(chatId) {
			var socket = new SockJS('/chat/' + chatId);
			stompClient = Stomp.over(socket);
			stompClient.connect({}, function (frame) {
				console.log('Connected: ' + frame);
				stompClient.subscribe('/topic/' + chatId, function (message) {
					showMessage(JSON.parse(message.body));
				});
			});
		}

		function showMessage(message) {
			$("#chatMessages").append("<p>" + message.content + "</p>");
		}

		function sendMessage() {
			var messageInput = $("#messageInput");
			var message = messageInput.val();
			stompClient.send("/app/chat/`{chatId}`/sendMessage", {}, JSON.stringify({'content': message, 'chatId': chatId}));
			messageInput.val("");
		}

		$(function () {
			$("form#messageForm").on('submit', function (e) {
				e.preventDefault();
				sendMessage();
			});
			connectToChat(chatId); // Замените на фактический ID чата
		});
	</script>
</body>

</html>