<!DOCTYPE html>
<html style="height:100%" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
		integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/styles.css">



	<!-- Подключение moment.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>





</head>


<body class="body d-flex flex-column h-100" style="overflow: hidden;">



	<div class="d-flex flex-column bg-light" style="height:100%">
		<div class="row g-0" style="height:100%">

			<!-- Боковая панель -->
			<div class="col-5 col-md-4 flex-column border-right overflow-auto" style="height:100%">

				<!-- Верхняя часть боковой панели -->
				<div class="px-3 py-2 bg-white">
					<div class="d-flex bg-lightgray rounded-lg border-0">

						<!-- Кнопка для открытия модального окно с созданием групп, каналов -->
						<button onclick="showModal()"
							class="btn main-left__header-menu border-0 bg-transparent mr-3 p-0" type="button"
							data-toggle="modal" data-target="#side_modal">

							<img src="/img/menu.svg" alt="" width="20" height="20">

						</button>

						<!-- Картинка лупы -->
						<div class="ml-1 px-2 py-2 text-gray">
							<i class="zmdi zmdi-search text-large"></i>
						</div>

						<!-- Форма для поиска user'ов -->
						<form class="col-8" action="/users" method="GET">
							<input class="d-inline border-0 rounded-pill px-3 py-2" type="text" name="userName"
								placeholder="Search or start new chat" />
						</form>

					</div>
				</div>

				<!-- Список чатов -->
				<div class="flex-grow-1 scroll">

					<ul th:each="chatRoom : ${chatList}" class="list-group">

						<!-- Список чатов (для SenderId) -->
						<div th:if="${chatRoom.getSenderId().equals(currentUser)}">

							<li class="list-group-item border-0 d-flex">

								<!-- Панелька с переходом в чат, последним сообщением и временем его отправки -->
								<div class="chat-link text-large ml-3 flex-grow-1" th:data="${chatRoom.getId()}"
									th:href="@{/chat/{chatId}(chatId = ${chatRoom.getId()})}">

									<!-- Ссылка на чат -->
									<a th:text="${chatRoom.getRecipientName()}"
										th:href="@{/chat/{chatId}(chatId = ${chatRoom.getId()})}">
									</a>

									<br />

									<small class="text-gray text-right"
										style="display: flex; flex-wrap: nowrap; align-items: center;">

										<!-- Галочки, показывающие прочитано сообщение или нет -->
										<div th:if="${lastMessages.get(chatRoom.getId())} != null">
											<!-- Прочитано -->
											<i th:if="${lastMessages.get(chatRoom.getId()).getStatus().equals('Read')}"
												style="font-size:16px!important">
												<img src="/img/check2-all.svg"></img>
											</i>
											<!-- Непрочитанно -->
											<i th:if="${lastMessages.get(chatRoom.getId()).getStatus().equals('Unread')}"
												style="font-size:16px!important">
												<img src="/img/check2.svg"></img>
											</i>
										</div>

										<!-- Последние сообщение в чате (если есть) -->
										<div th:if="${lastMessages.get(chatRoom.getId())} != null">

											<!-- Отображение файла в послденем сообщение (если есть) -->
											<div
												th:if="${files.get(lastMessages.get(chatRoom.getId()).getId())} != null">


												<div
													th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('jpg')}">

													<img th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
														width="25" height="25" />

												</div>

												<div
													th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('jpeg')}">
													>

													<img th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
														width="25" height="25" />


												</div>

												<div
													th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('png')}">

													<img th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
														width="25" height="25" />


												</div>

												<div
													th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('gif')}">

													<img th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
														width="25" height="25" />


												</div>


												<div
													th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('mp4')}">

													<video width="25" height="25" controls>
														<source
															th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
															type="video/mp4" />
													</video>


												</div>

												<div
													th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('avi')}">

													<video width="25" height="25" controls>
														<source
															th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
															type="video/x-msvideo" />
													</video>


												</div>

												<div
													th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('mkv')}">

													<video width="25" height="25" controls>
														<source
															th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
															type="video/x-matroska" />
													</video>


												</div>
											</div>

										</div>

										<!-- Контент последнего сообщения -->
										<i th:if="${lastMessages.get(chatRoom.getId()) != null}"
											th:text="${lastMessages.get(chatRoom.getId()).getContent()}">
										</i>

									</small>

								</div>

								<!-- Время последнего сообщения -->
								<div class="text-gray">

									<small th:if="${lastMessages.get(chatRoom.getId()) != null}">

										<small
											th:if="${todayDate.equals(lastMessages.get(chatRoom.getId()).getSendTime().format(formatter))}"
											th:text="${lastMessages.get(chatRoom.getId()).getSendTime().format(todayFormat)}">
											text
										</small>

										<small
											th:if="${!todayDate.equals(lastMessages.get(chatRoom.getId()).getSendTime().format(formatter))}"
											th:text="${lastMessages.get(chatRoom.getId()).getSendTime().format(formatter)}">
											text
										</small>

										</br>

									</small>

								</div>

							</li>

						</div>
						<!-- Конец -->

						<!-- Список чатов (для currentUser) -->
						<div th:if="${chatRoom.getRecipientId().equals(currentUser)}">

							<li class="list-group-item border-0 d-flex">

								<!-- Панелька с переходом в чат, последним сообщением и временем его отправки -->
								<div class="chat-link text-large ml-3 flex-grow-1" th:data="${chatRoom.getId()}"
									th:href="@{/chat/{chatId}(chatId = ${chatRoom.getId()})}">

									<!-- Ссылка на чат -->
									<a th:text="${chatRoom.getSenderName()}"
										th:href="@{/chat/{chatId}(chatId = ${chatRoom.getId()})}">
									</a>



									<small class="text-gray text-right"
										style="display: flex; flex-wrap: nowrap; align-items: center;">

										<!-- Галочки, показывающие прочитано сообщение или нет -->
										<div th:if="${lastMessages.get(chatRoom.getId())} != null">
											<!-- Прочитано -->
											<i th:if="${lastMessages.get(chatRoom.getId()).getStatus().equals('Read')}"
												style="font-size:16px!important">
												<img src="/img/check2-all.svg"></img>
											</i>
											<!-- Непрочитанно -->
											<i th:if="${lastMessages.get(chatRoom.getId()).getStatus().equals('Unread')}"
												style="font-size:16px!important">
												<img src="/img/check2.svg"></img>
											</i>
										</div>

										<!-- Последние сообщение в чате (если есть) -->
										<div th:if="${lastMessages.get(chatRoom.getId())} != null">

											<!-- Отображение файла в послденем сообщение (если есть)	 -->
											<div
												th:if="${files.get(lastMessages.get(chatRoom.getId()).getId())} != null">


												<div
													th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('jpg')}">

													<img th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
														width="25" height="25" />

												</div>

												<div
													th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('jpeg')}">
													>

													<img th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
														width="25" height="25" />


												</div>

												<div
													th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('png')}">

													<img th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
														width="25" height="25" />


												</div>

												<div
													th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('gif')}">

													<img th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
														width="25" height="25" />


												</div>


												<div
													th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('mp4')}">

													<video width="25" height="25" controls>
														<source
															th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
															type="video/mp4" />
													</video>


												</div>

												<div
													th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('avi')}">

													<video width="25" height="25" controls>
														<source
															th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
															type="video/x-msvideo" />
													</video>


												</div>

												<div
													th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('mkv')}">

													<video width="25" height="25" controls>
														<source
															th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
															type="video/x-matroska" />
													</video>


												</div>
											</div>

										</div>

										<i th:if="${lastMessages.get(chatRoom.getId()) != null}"
											th:text="${lastMessages.get(chatRoom.getId()).getContent()}">
										</i>

									</small>
								</div>
								<!-- -->

								<!-- Время последнего сообщения -->
								<div class="text-gray">

									<small th:if="${lastMessages.get(chatRoom.getId()) != null}">

										<small
											th:if="${todayDate.equals(lastMessages.get(chatRoom.getId()).getSendTime().format(formatter))}"
											th:text="${lastMessages.get(chatRoom.getId()).getSendTime().format(todayFormat)}">
											text
										</small>

										<small
											th:if="${!todayDate.equals(lastMessages.get(chatRoom.getId()).getSendTime().format(formatter))}"
											th:text="${lastMessages.get(chatRoom.getId()).getSendTime().format(formatter)}">
											text
										</small>

										<br />




									</small>

									<br>

								</div>
								<!-- Конец -->

							</li>

						</div>
						<!-- Конец -->

					</ul>

				</div>

			</div>

			<!-- Сообщения -->
			<div class="col-7 col-md-8 flex-column" style="height:100%;">

				<!-- Верхняя панель -->
				<div class="d-flex bg-gray px-3 py-2 border-bottom" style="height: 7% ;max-height: 7%; cursor: pointer;"
					onclick="showModal1()">

					<!-- Автарка пользователя -->
					<div th:if="${recipientUserAvatar} != null"
						class="d-flex align-items-center justify-content-between p-2">
						<img class="rounded-pill" th:src="'data:image/png;base64,' + ${recipientUserAvatar}" alt="user"
							width="50" height="50">
					</div>

					<div th:if="${recipientUserAvatar} == null">

						<img class="rounded-pill" width="50" height="50" id="top_avatar" alt="user">

						<script src="/js/messageScripts/TopModalAvatarScript.js"></script>

					</div>

					<!-- Username пользователя -->
					<div id="userInfoDiv" class="h6 ml-2 font-weight-bold chat__header-user-name">
						<div th:text="${recipientUserName}">username</div>

						<!-- Статус пользователя Online или Offline -->
						<small class="chat__header-info chat__header-info--online h6" id="statusInfo"></small>

					</div>

					<div id="userInfoDiv1" th:data-userid="${chatId}"></div>



				</div>

				<!-- Сообщения -->
				<div id="message-container" class="flex-grow-1 vh-100 overflow-auto"
					style="height: 85%; max-height: 85%;">

					<br>

					<!-- Сообщения -->
					<div class="message">

						<!-- Для автообновления сообщений (используется в js скрипте) -->
						<div id="formatDate" th:date="${todayFormat}"></div>
						<div id="filesList" th:files="${files}"></div>

						<!-- Сообщения из БД -->
						<div id="cassandraMessagesContainer">


						</div>


						<!-- Сообщения из redis'-->
						<div id="cachedMessagesContainer">


							<script>
								function updateOutput() {
									$.post("/cachedTest").done(function (fragment) {
										console.log(fragment);
										$("#cachedMessagesContainer").replaceWith(fragment);
									});
								}
								$(document).ready(function () {
									updateOutput();

									setInterval(updateOutput, 1000);
								});

							</script>

						</div>






					</div>
				</div>


				<!-- Нижняя панель -->
				<div class="d-flex align-items-center bg-gray px-2 py-1 border-bottom"
					style="height: 10%; max-height: 10%;">

					<!-- Смайлик -->
					<button class="btn mx-1">
						<i class="zmdi zmdi-mood text-xlarge text-gray"></i>
					</button>

					<!-- Форма отправки сообщения -->
					<div id="messageForm" style="width: 100%;">
						<!-- Форма -->
						<form style="display: none; width: 100%;" id="messageForm" class="d-flex align-items-center"
							enctype="multipart/form-data">

							<!-- Скрепочка -->
							<label for="fileInput" class="btn mx-1">
								<i class="zmdi zmdi-attachment-alt text-xlarge rotate-45 text-gray"></i>
							</label>
							<input type="file" id="fileInput" style="display: none;" />

							<div class="p-1 flex-grow-1 mx-1">
								<input style="width: 100%;" id="messageInput" type="text"
									class="d-inline border-0 rounded-pill px-3 py-2" th:data="${id}"
									th:dataSenderId="${currentUser}" th:dataRecipId="${recipientId}"
									placeholder="Type a message" name="editedMessage">
							</div>

							<!-- Кнопка отправки -->
							<div class="text-right mx-1">
								<div class="d-inline-block" style="width:auto">
									<button class="btn"><i
											class="zmdi zmdi-mail-send text-xlarge text-gray"></i></button>
								</div>
							</div>

						</form>
					</div>

					<!-- Форма редактирования сообщения -->
					<div style="display: none; width: 100%" id="editForm">

						<form style="display: none; width: 100%;" id="editForm" class="d-flex align-items-center"
							enctype="multipart/form-data">

							<input style="width: 90%;" id="editMessageInput" type="text"
								class="d-inline border-0 rounded-pill px-3 py-2" placeholder="Edit"
								name="editedMessage">

							<!-- Кнопка отправки -->
							<div class="text-right mx-1">
								<div class="d-inline-block" style="width:auto">
									<button class="btn"><i
											class="zmdi zmdi-mail-send text-xlarge text-gray"></i></button>
								</div>
							</div>

						</form>

					</div>

				</div>

			</div>
		</div>
	</div>


	<!-- Модальное окно в чате с информацией о собеседнике -->
	<div class="modal" id="profile_modal" style="margin-left: 30%; max-width: 70%; width: 70%;">
		<div class="modal-dialog m-0 rounded-0"
			style="display: block; max-width: 30%; width: 30%; position: absolute; right: 0 !important; transform: translateX(0%);">
			<div class="modal-content vh-100 rounded-0">
				<div class="modal-body p-0 vh-100 overflow-hidden">

					<div style="height: 4%;">
						<button onclick="closeModal()" type="button"
							class="btn main-left__header-menu border-0 bg-transparent mt-1 ml-2 p-0">
							<img src="/img/x-lg.svg" width="20" height="20"></img>
						</button>
					</div>

					<script>
						function closeModal() {

							var modal = document.getElementById('profile_modal');


							if (modal) {
								modal.style.display = 'none';
							}
						}
					</script>


					<div>
						<div th:if="${recipientUserAvatar} != null">

							<img class="d-flex align-items-center justify-content-between w-100 mb-4"
								th:src="'data:image/png;base64,' + ${recipientUserAvatar}" alt="user">

							</img>

						</div>

						<div th:if="${recipientUserAvatar} == null">

							<img class="d-flex align-items-center justify-content-between w-100 mb-4"
								id="profile_modal_avatar" alt="user">

							<script src="/js/messageScripts/ProfileModalAvatarScript.js"></script>>

						</div>

					</div>

					<div class="modal-scroll vh-100 d-flex flex-column flex-grow-1">

						<div class="p-4">

							<div class="d-flex align-items-center text-decoration-none ml-2 mb-3">
								<img class="mr-3" src="/img/phone.svg" alt="new group" width="30" height="30">

								<div>
									<h5 class="modal-text__item text-dark mb-0 fs-6"
										th:text="${recipientUserPhoneNumber}">Phone</h5>
									<small class="text-gray text-right"
										style="display: flex; flex-wrap: nowrap; align-items: center;"> Phone
									</small>
								</div>
							</div>

							<div class="d-flex align-items-center text-decoration-none ml-2 mb-3 flex-nowrap">

								<img class="mr-3" src="/img/at.svg" alt="new group" width="30" height="30">

								<div>
									<h5 class="modal-text__item text-dark fs-6 mb-0" th:text="${recipientUserName}">
									</h5>
									<small class="text-gray text-right"
										style="display: flex; flex-wrap: nowrap; align-items: center;"> Username
									</small>
								</div>

							</div>


						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Боковая панель (открывается при нажатии на кнопку) -->
	<div class="modal fade show" id="side_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
		style="display: none;" aria-modal="true" role="dialog">

		<div class="modal-dialog m-0 rounded-0">
			<div class="modal-content vh-100 rounded-0">
				<div class="modal-body p-0 vh-100 overflow-hidden">

					<div class="p-4 fff">

						<div th:if="${currentUserAvatar} != null"
							class="d-flex align-items-center justify-content-between w-100 mb-4">
							<img class="rounded-pill" th:src="'data:image/png;base64,' + ${currentUserAvatar}"
								alt="user" width="50" height="50">
						</div>

						<div th:if="${currentUserAvatar} == null">

							<img id="side_modal_avatar" alt="Avatar" width="50" height="50">

							<script src="/js/messageScripts/SideModalAvatarScript.js"></script>

						</div>

						<div class="btn d-flex align-items-center justify-content-between text-dark p-0"
							th:text="${username}">username</div>

					</div>

					<div class="modal-scroll vh-100 d-flex flex-column flex-grow-1">

						<div class="p-4 ">
							<div class="d-flex align-items-center text-decoration-none mb-3" style="cursor: pointer;">
								<img class="mr-3" src="/img/group-icon.svg" alt="new group" width="20" height="20">
								<h5 class="modal-text__item mb-0">New Group</h5>
							</div>
							<div class="d-flex align-items-center text-decoration-none mb-3" style="cursor: pointer;">
								<img class="mr-3" src="/img/cahnel-icon.svg" alt="new group" width="20" height="20">
								<h5 class="modal-text__item mb-0">New Channel</h5>
							</div>

							<div onclick="showSettingsModal()"
								class="d-flex align-items-center text-decoration-none mb-3" style="cursor: pointer;">
								<img class="mr-3" src="/img/settings-icon.svg" alt="new group" width="20" height="20">
								<h5 class="modal-text__item mb-0">Settings</h5>
							</div>

							<div class="d-flex align-items-center text-decoration-none justify-content-between"
								style="cursor: pointer;">
								<div class="d-flex align-items-center">
									<img class="mr-3" src="/img/moon-icon.svg" alt="new group" width="20" height="20">
									<h5 class="modal-text__item mb-0">Night Mode</h5>
								</div>
								<div class="custom-control custom-switch" style="cursor: pointer;">
									<input type="checkbox" class="form-check-input" role="switch" id="customSwitch1">
									<label class="custom-control-label" for="customSwitch1"></label>
								</div>
							</div>

						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Модальное окно для удаления чатов и сообщений -->
	<div class="modal" id="myModal" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">
					<button id="deleteButton" class="btn btn-danger">Удалить чат</button>
					<button id="editButton" class="btn btn-primary">Очистить сообщения</button>
				</div>

			</div>
		</div>
	</div>

	<!-- Модальное окно для редакитрования сообщений и их удалений -->
	<div class="modal" id="myModal1" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Действия с чатом</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<p>Выберите действие:</p>
					<button id="deleteButton1" class="btn btn-danger">Удалить</button>
					<button id="editButton1" class="btn btn-primary">Редактировать</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="settings_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		<div class="modal-dialog1">
			<div class="modal-content1">

				<div class="d-flex border-bottom border-5 px-3 py-2" style="height: 7% ;max-height: 7%; ">

					<!-- Автарка пользователя -->
					<div class="d-flex align-items-center justify-content-between p-2">

						<div th:if="${currentUserAvatar} != null">

							<img id="settings_modal_avatar" class="rounded-pill"
								th:src="'data:image/png;base64,' + ${currentUserAvatar}" alt="user" width="100"
								height="100">

						</div>

						<div th:if="${currentUserAvatar} == null">

							<img id="settings_modal_avatar" alt="Avatar" width="100" height="100">

							<script src="/js/messageScripts/SettingsModalAvatarScript.js"></script>

						</div>

					</div>

					<!-- Username пользователя -->
					<div class="h6 fs-4  chat__header-user-name">

						<div th:text="${username}">username</div>
						<small th:text="${currentUserPhoneNumber}">+1 123 131 93 39</small>

					</div>

				</div>

				<div onclick="showMyAccountModal()"
					class="d-flex align-items-center ml-3 mt-3 text-decoration-none mb-3" style="cursor: pointer;">
					<img class="mr-3" src="/img/person-circle.svg" alt="new group" width="30" height="30">
					<h5 class="modal-text__item mb-0 fs-5">My account</h5>
				</div>



			</div>
		</div>

	</div>

	<!-- Модальное окно для редактирования телефона и никнейма -->
	<div class="modal" id="my_account_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		<div class="my_account_modal-dialog">
			<div class="my_account_modal-content">


				<!-- Аватар пользователя с возможностью выбора файла -->
				<div class="d-flex align-items-center justify-content-between p-2" style="margin-left: 25%;">

					<!-- Скрытый input для выбора файла -->
					<input type="file" id="fileAvatarInput" style="display: none;" />

					<script src="/js/messageScripts/AvatarScript.js"></script>


					<!-- Изображение, которое служит кнопкой для выбора файла -->
					<label th:if="${currentUserAvatar} != null" for="fileInput">
						<img id="setAvatar" class="rounded-pill"
							th:src="'data:image/png;base64,' + ${currentUserAvatar}" alt="Image" width="200"
							height="200">
					</label>

					<label th:if="${currentUserAvatar} == null" for="fileInput">

						<img id="setAvatar" alt="Avatar" width="200" height="200">

						<script src="/js/messageScripts/AccountModalAvatarScript.js"></script>

					</label>

				</div>

				<div class="d-flex align-items-center ml-3 mt-3 text-decoration-none mb-3">
					<img class="mr-3" src="/img/person-circle.svg" alt="new group" width="30" height="30">
					<div class="modal-text__item mb-0 fs-5">Name</div>
					<div style="margin-left: auto;" th:text="${username}">12</div>
				</div>

				<div class="d-flex align-items-center ml-3 mt-3 text-decoration-none mb-3">
					<img class="mr-3" src="/img/telephone.svg" alt="new group" width="30" height="30">
					<div class="modal-text__item mb-0 fs-5">Phone number</div>
					<div style="margin-left: auto;" th:text="${currentUserPhoneNumber}">+1 212 123 12 33</div>
				</div>


			</div>
		</div>

	</div>


	<script src="/js/messageScripts/MyAccountModal.js"></script>
	<script src="/js/messageScripts/UserStatusUpdateScript.js"></script>
	<script src="/js/messageScripts/SettingsModalWindow.js"></script>
	<script src="/js/messageScripts/messageScroll.js"></script>
	<script src="/js/messageScripts/messageContextMenuEdit.js"></script>
	<script src="/js/messageScripts/messageEditOrDelete.js"></script>
	<script src="/js/messageScripts/webSocket.js"></script>

	<!--
	<script src="/js/messageScripts/CachedMessageAutoUpdateScript.js"></script>
	<script src="/js/messageScripts/CassandraMessageAutoUpdateScript.js"></script>
	-->

	<script src="/js/messageScripts/SideBarModalWindow.js"></script>
	<script src="/js/chatScripts/ChatDelete.js"></script>
	<script src="/js/scripts/bootstrap.bundle.min.js"></script>
	<script src="/js/scripts/sidebarScript.js"></script>
	<script src="/js/chatScripts/ChatCreate.js"></script>

</body>

</html>