<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
		integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/styles.css">


</head>

<body class="body d-flex flex-column h-100" style="overflow: hidden;">

	<main class="main overflow-hidden">

		<div class="d-flex flex-column bg-light" style="height:100%">
			<div class="row g-0" style="height:100%">

				<!-- Боковая панель -->
				<div class="col-5 col-md-4 flex-column border-right overflow-auto" style="height:100vh">
					
					<!-- Верхняя часть боковой панели -->	
					<div class="px-3 py-2 bg-white">

						<div class="d-flex bg-lightgray rounded-lg border-0">
							
							<!-- Кнопка для открытия модального окно с созданием групп, каналов -->				
							<button onclick="showModal()"
								class="btn main-left__header-menu border-0 bg-transparent mr-3 p-0" type="button"
								data-toggle="modal" data-target="#main-modal">

								<img src="/img/menu.svg" alt="" width="20" height="20">

							</button>
							
							<!-- Картинка лупы -->
							<div class="ml-1 px-2 py-2 text-gray">
								<i class="zmdi zmdi-search text-large"></i>
							</div>

							<!-- Форма для поиска user'ов -->
							<form class="col-8" action="/users" method="GET">
								<input class="d-inline border-0 rounded-pill px-3 py-2" type="text" name="userName"
									placeholder="Search or start new chat" />
							</form>



						</div>

					</div>
					
					<!-- Страница со всеми чатами (отображается, если поиск user'ов не выполняется) -->
					<div th:if="${searchElasticUser == null}">
						<!-- Выводим все чаты доступные для текущего user'а -->
						<div th:if="${!chatList.isEmpty()}">
							<div class="flex-grow-1 scroll">
								
								<!-- Список всех чатов -->
								<ul th:each="chatRoom : ${chatList}" class="list-group">

									<!-- Для SenderId -->
									<div th:if="${chatRoom.getSenderId().equals(currentUser)}">

										<li class="list-group-item border-0 d-flex">

											<!-- Ссылка на чат и последенее сообщение -->
											<div class="chat-link text-large ml-3 flex-grow-1"
												th:href="@{/chat/{chatId}(chatId = ${chatRoom.getId()})}"
												th:data="${chatRoom.getId()}">

												<!-- Ссылка на чат -->
												<a  th:text="${chatRoom.getRecipientName()}"
													th:href="@{/chat/{chatId}(chatId = ${chatRoom.getId()})}">
												</a>

												<br/>
												
												<!-- Галочки для прочитаных и непрочитанных сообщение -->
												<small class="text-gray text-right" style="display: flex; flex-wrap: nowrap; align-items: center;">
													<div th:if="${lastMessages.get(chatRoom.getId())} != null">
														<!-- Прочитаные -->
														<i th:if="${lastMessages.get(chatRoom.getId()).getStatus().equals('Read')}"
															style="font-size:16px!important">
															<img src="/img/check2-all.svg"></img>
														</i>
														<!-- Непрочитанные -->
														<i th:if="${lastMessages.get(chatRoom.getId()).getStatus().equals('Unread')}"
															style="font-size:16px!important">
															<img src="/img/check2.svg"></img>
														</i>
													</div>
													
													<!-- Отображение файла в последнем сообщение (если есть) -->
													<div th:if="${lastMessages.get(chatRoom.getId())} != null">
														<div
															th:if="${files.get(lastMessages.get(chatRoom.getId()).getId())} != null">


															<div
																th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('jpg')}">

																<img th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
																	width="25" height="25" />

															</div>

															<div
																th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('jpeg')}">
																>

																<img th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
																	width="25" height="25" />


															</div>

															<div
																th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('png')}">

																<img th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
																	width="25" height="25" />


															</div>

															<div
																th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('gif')}">

																<img th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
																	width="25" height="25" />


															</div>


															<div
																th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('mp4')}">

																<video width="25" height="25" controls>
																	<source
																		th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
																		type="video/mp4" />
																</video>


															</div>

															<div
																th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('avi')}">

																<video width="25" height="25" controls>
																	<source
																		th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
																		type="video/x-msvideo" />
																</video>


															</div>

															<div
																th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('mkv')}">

																<video width="25" height="25" controls>
																	<source
																		th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
																		type="video/x-matroska" />
																</video>


															</div>
														</div>
													</div>
													
													<!-- Текст последнего сообщения -->
													<i th:if="${lastMessages.get(chatRoom.getId()) != null}"
														th:text="${lastMessages.get(chatRoom.getId()).getContent()}">
													</i>
												</small>
												
											</div>
											

											<!-- Время последнего сообщения -->
											<div class="text-gray">

												<small th:if="${lastMessages.get(chatRoom.getId()) != null}">

													<small
														th:if="${todayDate.equals(lastMessages.get(chatRoom.getId()).getSendTime().format(formatter))}"
														th:text="${lastMessages.get(chatRoom.getId()).getSendTime().format(todayFormat)}">
														text
													</small>

													<small
														th:if="${!todayDate.equals(lastMessages.get(chatRoom.getId()).getSendTime().format(formatter))}"
														th:text="${lastMessages.get(chatRoom.getId()).getSendTime().format(formatter)}">
														text
													</small>

													</br>

													<small th:if="${chatRoom.getUnreadSenderMessages() != 0}"
														th:text="${chatRoom.getUnreadSenderMessages()}">

													</small>


												</small>

												<br>

											</div>
											

										</li>

									</div>

									<!-- Для RecipientId -->
									<div th:if="${chatRoom.getRecipientId().equals(currentUser)}">

										<li class="list-group-item border-0 d-flex">

											<!-- Ссылка на чат и последенее сообщение -->
											<div class="chat-link text-large ml-3 flex-grow-1"
												th:href="@{/chat/{chatId}(chatId = ${chatRoom.getId()})}"
												th:data="${chatRoom.getId()}">
												
												<!-- Ссылка на чат -->
												<a  th:text="${chatRoom.getSenderName()}"
													th:href="@{/chat/{chatId}(chatId = ${chatRoom.getId()})}">
												</a>

												<br />
												
												<!-- Галочки для прочитаных и непрочитанных сообщение -->
												<small class="text-gray text-right"
													style="display: flex; flex-wrap: nowrap; align-items: center;">

													<div th:if="${lastMessages.get(chatRoom.getId())} != null">
														<!-- Прочитано -->
														<i th:if="${lastMessages.get(chatRoom.getId()).getStatus().equals('Read')}"
															style="font-size:16px!important">
															<img src="/img/check2-all.svg"></img>
														</i>
														<!-- Непрочитанно -->
														<i th:if="${lastMessages.get(chatRoom.getId()).getStatus().equals('Unread')}"
															style="font-size:16px!important">
															<img src="/img/check2.svg"></img>
														</i>
													</div>

													<!-- Отображение файла в последнем сообщение (если есть) -->
													<div th:if="${lastMessages.get(chatRoom.getId())} != null">


														<div
															th:if="${files.get(lastMessages.get(chatRoom.getId()).getId())} != null">


															<div
																th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('jpg')}">

																<img th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
																	width="25" height="25" />

															</div>

															<div
																th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('jpeg')}">
																>

																<img th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
																	width="25" height="25" />


															</div>

															<div
																th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('png')}">

																<img th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
																	width="25" height="25" />


															</div>

															<div
																th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('gif')}">

																<img th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
																	width="25" height="25" />


															</div>


															<div
																th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('mp4')}">

																<video width="25" height="25" controls>
																	<source
																		th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
																		type="video/mp4" />
																</video>


															</div>

															<div
																th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('avi')}">

																<video width="25" height="25" controls>
																	<source
																		th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
																		type="video/x-msvideo" />
																</video>


															</div>

															<div
																th:if="${#strings.toLowerCase(files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName().split('\.')[1]).equals('mkv')}">

																<video width="25" height="25" controls>
																	<source
																		th:src="'/Files/' + ${files.get(lastMessages.get(chatRoom.getId()).getId()).getFileName()}"
																		type="video/x-matroska" />
																</video>


															</div>




														</div>

													</div>
													
													<!-- Текст последнего сообщения -->
													<i th:if="${lastMessages.get(chatRoom.getId()) != null}"
														th:text="${lastMessages.get(chatRoom.getId()).getContent()}">
													</i>


												</small>

											</div>
											

											<!-- Время последнего сообщения -->
											<div class="text-gray">

												<small th:if="${lastMessages.get(chatRoom.getId()) != null}">

													<small
														th:if="${todayDate.equals(lastMessages.get(chatRoom.getId()).getSendTime().format(formatter))}"
														th:text="${lastMessages.get(chatRoom.getId()).getSendTime().format(todayFormat)}">
														text
													</small>

													<small
														th:if="${!todayDate.equals(lastMessages.get(chatRoom.getId()).getSendTime().format(formatter))}"
														th:text="${lastMessages.get(chatRoom.getId()).getSendTime().format(formatter)}">
														text
													</small>

													<br />

													<small th:if="${chatRoom.getUnreadRecipientMessages() != 0}"
														th:text="${chatRoom.getUnreadRecipientMessages()}">

													</small>

												</small>

												<br>

											</div>
											

										</li>

									</div>
								
								</ul>
							</div>
						</div>
						
						<!-- Если чатов нет, то вывести всех user'ов, чтобы создать с одним из них чат -->
						<div th:if="${chatList.isEmpty()}">

							<ul th:each="user : ${users}">
								
								<!-- Выводим всех user'ов, кроме себя -->
								<div th:if="${user.getId() != currentUser}">

									<li class="list-group-item border-0 d-flex">

										<!-- Кнопка создания чата -->
										<div class="chat-link text-large ml-3 flex-grow-1">

											<a class="chat-create" id="chat" th:data-user-id="${user.getId()}"
												th:data-current-user="${currentUser}"
												th:text="${user.getUsername()} + ' ' + ${user.getId()}">
												text
											</a>

										</div>
										

									</li>

								</div>

							</ul>

						</div>

					</div>

					<div th:if="${searchElasticUser != null}">

						<div class="flex-grow-1 scroll">

							<ul th:each="user : ${searchElasticUser}" class="list-group">

								<li class="list-group-item border-0 d-flex" th:if="${user.getId() != currentUser}">

									<div class="chat-link text-large ml-3 flex-grow-1">

										<a class="chat-create" th:data-user-id="${user.getId()}"
											th:data-current-user="${currentUser}"
											th:text="${user.getUserName()} + ' ' + ${user.getId()}">
											text
										</a>


									</div>

								</li>

							</ul>

						</div>

					</div>

				</div>

				<!-- Пустое место с надписью -->
				<div class="col-7 col-md-8 flex-column" style="height:100vh;">

					<div style="background-color: rgb(248, 248, 248); height: 100vh"
						class="d-flex justify-content-center align-items-center">

						<p class="text-center">Select a chat to start messaging</p>

					</div>

				</div>
				
			</div>
		</div>

	</main>
	
	<!-- Боковая панель, которая открывается при нажати на кнопку слева сверху -->
	<div class="modal fade p-0 show" id="main-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
		style="display: none;" aria-modal="true" role="dialog">
		<div class="modal-dialog m-0 rounded-0">
			<div class="modal-content vh-100 rounded-0">
				<div class="modal-body p-0 vh-100 overflow-hidden">

					<div class="p-4 fff">


						<div class="d-flex align-items-center justify-content-between w-100 mb-4">
							<img class="rounded-pill" src="/Files/ava.png" alt="user" width="50" height="50">
						</div>

						<div class="btn d-flex align-items-center justify-content-between text-dark p-0"
							th:text="${username}">username</div>

					</div>

					<div class="modal-scroll vh-100 d-flex flex-column flex-grow-1">



						<div class="p-4 ">
							<a class="d-flex align-items-center text-decoration-none mb-3" href="#">
								<img class="mr-3" src="/img/group-icon.svg" alt="new group" width="20" height="20">
								<h5 class="modal-text__item mb-0">New Group</h5>
							</a>
							<a class="d-flex align-items-center text-decoration-none mb-3" href="#">
								<img class="mr-3" src="/img/cahnel-icon.svg" alt="new group" width="20" height="20">
								<h5 class="modal-text__item mb-0">New Channel</h5>
							</a>

							<a class="d-flex align-items-center text-decoration-none mb-3" href="#">
								<img class="mr-3" src="/img/settings-icon.svg" alt="new group" width="20" height="20">
								<h5 class="modal-text__item mb-0">Settings</h5>
							</a>
							<a class="d-flex align-items-center text-decoration-none justify-content-between">
								<div class="d-flex align-items-center">
									<img class="mr-3" src="/img/moon-icon.svg" alt="new group" width="20" height="20">
									<h5 class="modal-text__item mb-0">Night Mode</h5>
								</div>
								<div class="custom-control custom-switch">
									<input type="checkbox" class="form-check-input" role="switch" id="customSwitch1">
									<label class="custom-control-label" for="customSwitch1"></label>
								</div>
							</a>



						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Модальное окно для удаления чата или всех сообщений из него -->
	<div class="modal" id="myModal" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">
					<button id="deleteButton" class="btn btn-danger">Удалить чат</button>
					<button id="editButton" class="btn btn-primary">Очистить сообщения</button>
				</div>

			</div>
		</div>
	</div>
	

	<script src="/js/chatScripts/ChatDelete.js"></script>
	<script src="/js/chatScripts/ChatCreate.js"></script>
	<script src="/js/scripts/bootstrap.bundle.min.js"></script>
	<script src="/js/scripts/sidebarScript.js"></script>

</body>

</html>