<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div th:each="cassandraMessage : ${cassandraMessages}">

		<div class="message__wrapper d-flex align-items-end mb-2 mt-2" style="word-break: break-word;">

			<!-- Данные о сообщение -->
			<div class="message-content message__wrapper-box position-relative p-2"
				th:senderName="${cassandraMessage.getSenderName()}" th:status="${cassandraMessage.getStatus()}"
				th:content="${cassandraMessage.getContent()}" th:id="${cassandraMessage.getId()}"
				th:sendtime="${cassandraMessage.getSendTime()}" th:chatId="${cassandraMessage.getChatId()}"
				th:recipientId="${cassandraMessage.getRecipientId()}" th:senderId="${cassandraMessage.getSenderId()}">

				<!-- Username пользователя, который отправялет сообщение -->
				<div class="message__wrapper-top d-flex justify-content-between align-items-center">
					<p class="message__user-name" th:text="${cassandraMessage.getSenderName()}">
						Lifehack</p>
					<span class="message__reply"></span>
				</div>

				<!-- Вывод файла (если есть) -->
				<div th:if="${files.get(cassandraMessage.getId())} != null">

					<div
						th:if="${#strings.toLowerCase(files.get(cassandraMessage.getId()).getFileName().split('\.')[1]).equals('jpg')}">

						<img th:src="'/Files/' + ${files.get(cassandraMessage.getId()).getFileName()}" width="400"
							height="400" />

					</div>

					<div
						th:if="${#strings.toLowerCase(files.get(cassandraMessage.getId()).getFileName().split('\.')[1]).equals('jpeg')}">
						>

						<img th:src="'/Files/' + ${files.get(cassandraMessage.getId()).getFileName()}" width="400"
							height="400" />


					</div>

					<div
						th:if="${#strings.toLowerCase(files.get(cassandraMessage.getId()).getFileName().split('\.')[1]).equals('png')}">

						<img th:src="'/Files/' + ${files.get(cassandraMessage.getId()).getFileName()}" width="400"
							height="400" />


					</div>

					<div
						th:if="${#strings.toLowerCase(files.get(cassandraMessage.getId()).getFileName().split('\.')[1]).equals('gif')}">

						<img th:src="'/Files/' + ${files.get(cassandraMessage.getId()).getFileName()}" width="400"
							height="400" />


					</div>


					<div
						th:if="${#strings.toLowerCase(files.get(cassandraMessage.getId()).getFileName().split('\.')[1]).equals('mp4')}">

						<video width="400" height="400" controls>
							<source th:src="'/Files/' + ${files.get(cassandraMessage.getId()).getFileName()}"
								type="video/mp4" />
						</video>


					</div>

					<div
						th:if="${#strings.toLowerCase(files.get(cassandraMessage.getId()).getFileName().split('\.')[1]).equals('avi')}">

						<video width="400" height="400" controls>
							<source th:src="'/Files/' + ${files.get(cassandraMessage.getId()).getFileName()}"
								type="video/x-msvideo" />
						</video>


					</div>

					<div
						th:if="${#strings.toLowerCase(files.get(cassandraMessage.getId()).getFileName().split('\.')[1]).equals('mkv')}">

						<video width="400" height="400" controls>
							<source th:src="'/Files/' + ${files.get(cassandraMessage.getId()).getFileName()}"
								type="video/x-matroska" />
						</video>


					</div>



					<!--<th:default th:if="${!otherFound}" th:remove="tag">
											<p>Неподдерживаемый тип файла</p>
											<th:block th:remove="tag" th:with="otherFound=true"></th:block>
										</th:default>
										</th:block>-->



				</div>


				<div class="message__wrapper-bottom d-flex align-items-end justify-content-between">

					<!-- Сообщение -->
					<p class="message__wrapper-text" th:senderName="${cassandraMessage.getSenderName()}"
						th:text="${cassandraMessage.getContent()}">
					</p>

					<!-- Время отправки -->
					<div class="message__wrapper-bottom-right d-flex align-items-center">
						<time class="message__time"
							th:text="${cassandraMessage.getSendTime().format(todayFormat)}">11</time>
						<span class="message__status"></span>
					</div>

				</div>

				<span class="message__curve"></span>

			</div>

		</div>

	</div>

</body>

</html>